#main-content {
	float:left;
	width:100%;
}

article {
	float:left;
	width:100%;
	margin-top:96px;
	
	&:first-child {
		margin-top:0;
	}
	
	header {
		width:100%;
		text-align:left;
		border-bottom:1px solid #eee;
		margin:0 0 1.5em 0;
		font-size:16px;
		line-height:1.5;
		padding-bottom:1.5em;
		float:left;
	}
	
	h1 {
		font-size:36px;
		line-height:1;
		margin:0;
		font-weight:normal;
	}
	
	h2 {
		font-size:20px;
		line-height:1.2;
		margin:1.2em 0 0 0;
		font-weight:normal;
		margin-left:240px;
	}
	
	h3, h4, h5, h6 {
		font-size:16px;
		line-height:1.5;
		margin:1.5em 0 0 0;
		font-weight:bold;
		margin-left:240px;
	}

	p, dl, pre, blockquote {
		font-size:16px;
		line-height:1.5;
		margin:1.5em 0;
		margin-left:240px;
	}
	
	ol, ul {
		font-size:16px;
		line-height:1.5;
		margin:1.5em 0;
		margin-left:260px;
	}
	
	blockquote {
		border-left:2px solid #eee;
		
		p {
			margin:2em;
			font-size:12px;
			line-height:2;
			color:#666;
		}
		
	}
	
	p.image {
		margin-left:0;
		width:100%;
		clear:both;
		float:left;
		
		img {
			max-width:100%;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			float:left;
			font-size:16px;
			margin:0 0 1.5em 0;
			
			&.small {
				max-width:75%;
				margin-left:240px;
			}
			
			&.large {
				margin-left:0;
			}
			
			&.screenshot {
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;
				-webkit-box-shadow:0 0 15px rgba(0,0,0,0.35);
  			-moz-box-shadow:0 0 15px rgba(0,0,0,0.35);
  			box-shadow:0 0 15px rgba(0,0,0,0.35);
			}
		}
		
	}
	
	p.more {
		font-weight:bold;
	}
	
	p.meta {
		font-size:12px;
		line-height:2;
		margin:2em 0 0 0;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	
	p.byline {
		color:#666;
		font-size:12px;
		line-height:2;
		margin:0 0 2em 240px;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	
	ul li {
		list-style-type:disc;
	}
	
	ol li {
		list-style-type:decimal;
	}
	
	
	em, i, cite {
		font-weight:300;
		font-style:italic;
	}
	
	q:before {
		content:"\201c";
	}
	
	q q:before {
		content:"\2018";
	}
	
	q:after {
		content:"\201d";
	}
	
	q q:after {
		content:"\2019";
	}
	
	aside {
		font-size:12px;
		width:200px;
		float:left;
		clear:left;
		margin-right:20px;
		margin-bottom:2em;
		padding-right:19px;
		border-right:1px solid #eee;
		color:#666;
		
		p {
			font-size:12px;
			margin: 0;
			line-height:2;
		}
	}
	
	.has-pullquote:before {
		content:"“"attr(data-pullquote)"”";
		text-indent:-0.5em;
		float:left;
		width:360px;
		font-size:20px;
		line-height:1.2;
		margin:0 -132px 1.2em 0;
		position:relative;
		left:-156px;
		font-weight:bold;
	}
	
	footer {
		width:100%;
		float:left;
	}
	
	div.sharing {
		margin-left:240px;
		float:left;
		
		.tweet {
			float:left;
		}

		.plusone {
			width:75px;
			float:left;
		}

		.fblike {
			width:160px;
			float:left;
		}
	}
	
	h1 a {
		-webkit-transition:color 0.25s linear;
		-moz-transition:color 0.25s linear;
		-ms-transition:color 0.25s linear;
		transition:color 0.25s linear;
		
		&:link, &:visited {
			color:#000;
  		border-bottom:none;
		}
		
		&:hover, &:active {
			color:#bf0222;
  		border-bottom:none;
		}
		
	}
	
	
}

#comments {
	float:right;
	
	h1 {
		font-size:24px;
		line-height:1;
		margin:1em 0;
	}
	
}

nav.pagination, nav.pagination ul {
	width:100%;
	float:left;
	font-size:24px;
	line-height:1;
	margin:1em 0;
	font-weight:bold;
	
	ul li {
		width:50%;
		
		&.previous {
			float:left;
		}
		
		&.next {
			float:right;
			text-align:right;
		}
		
	}
	
	a:link, a:visited {
		color:#000;
		border:none;
	}

	a:hover, a:active {
		color:#bf0222;
		border:none;
	}
	
}

div.not-found {
	h1 {
		font-size:36px;
		line-height:1;
		margin:1em 0;
		font-weight:bold;
		text-align:center;
	}
}


@media screen and (max-width: 620px) {
	article {
	margin-top:72px;
	
		p, ol, ul, dl, pre, blockquote {
			font-size:12px;
			margin-left:0;
		}
		h1 {
			font-size:18px;
		}
	
		h2 {
			font-size:15px;
			margin-left:0;
		}
	
		h3, h4, h5, h6 {
			font-size:12px;
			font-weight:bold;
			margin-left:0;
		}
		
		p.image img {
			margin-left:0 !important;
			&.small {
				max-width:100%;
			}
		}
		
		p.meta {
			font-size:12px;
			line-height:1.5;
			margin: 0;
		}
	
		p.byline {
			font-size:12px;
			line-height:1.5;
			margin:0 0 1.5em 0;
		}
		
		blockquote {
		
			p {
				margin:1.5em;
				font-size:12px;
				line-height:1.5;
			}
		
		}
		
		aside {
			font-size:12px;
			width:98%;
			margin:0 0 1.5em 0;
			padding:0 1%;
			background:#f4f4f4;
		
		p {
				font-size:12px;
				line-height:1.5;
			}
		}
	
		.has-pullquote:before {
			width:100%;
			font-size:15px;
			line-height:1.2;
			margin:0 0 1.2em 0;
			position:relative;
			left:0;
		}
		
		div.sharing {
			display:none;
		}
		
	}
	
	#comments {
		display:none;
	}
	
	nav.pagination, nav.pagination ul {
		font-size:18px;
	}
	
	div.not-found {
	h1 {
		font-size:18px;
	}
}
	
}
