#blog-archives {

	h1 {
		font-size:24px;
		line-height:1;
		margin:1em 0;
		border-bottom:1px solid #eee;
	}

	article {
		margin-top:0;
		
		p.byline {
			margin-left:0;
		}
		
		h2 {
			font-size:24px;
			line-height:1;
			margin:0;
			font-weight:bold;
		}
		
	}

}


@media screen and (max-width: 620px) {

#blog-archives {

	h1 {
		font-size:18px;
	}

	article {
	
		p.byline {
			line-height:1.5;
		}
		
		h2 {
			font-size:18px;
		}
		
	}

}
}