<div class="sharing">
  {% if site.twitter_tweet_button %}
  <div class="tweet"><a href="http://twitter.com/share" class="twitter-share-button" data-text="{% if index %}{{ post.title }}{% else %}{{ page.title }}{% endif%}" data-url="{{ site.url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif%}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif%}" >Tweet</a></div>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="plusone"><div class="g-plusone" data-size="{{ site.google_plus_one_size }}" data-href="{{ site.url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif%}"></div></div>
  {% endif %}
  <div class="fblike">
  <div class="fb-like" data-href="{{ site.url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif%}" data-send="true" data-layout="button_count" data-width="160" data-show-faces="false" data-font="lucida grande"></div></div>
</div>