{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>

<div id="wrap">
  <header>{% include header.html %}</header>
    
  <section id="main-content" class="hfeed">
  	{{ content | expand_urls: root_url }}
  </section>
  {% include footer.html %}
  {% include google_plus_one.html %}
  {% include twitter_sharing.html %}
  {% include facebook_social_plugins.html %}
  {% include javascripts.html %}
  {% include google_analytics.html %}
</div>

<script type="text/javascript">
var _sf_async_config={uid:29382,domain:"blog.gesteves.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
</html>
