<header>
<p class="meta">{% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</p>
<h1 class="entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" rel="bookmark">{% if index %}{{ post.title }}{% else %}{{ page.title }}{% endif%}</a></h1>
</header>


{% if index %}
<div class="entry-content" itemprop="description">
{{ content | excerpt }}
{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
  	<p class="more" rel="full-article"><a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a></p>
  {% endif %}
</div>
{% else %}
<div class="entry-content" itemprop="description">
{{ content }}
</div>

{% endif %}

<footer class="meta">
    <p class="byline">Posted by {% include post/author.html %} on {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}{% include post/categories.html %}</p>
    
    {% unless index %}
      {% include post/sharing.html %}
    {% endunless %}
</footer>
	

