<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="author" content="{{ site.author }}" />
<meta name="verify-v1" content="bn/hLVvBk1E6hM+onSl9YuslrcbuHRPcrYfProwgfr0=" />
<meta name="y_key" content="2c8ed9b2ee26670f" />
<meta name="msvalidate.01" content="8C1FABC66ECA426EBB1F9B75F19CE8EE" />
<meta name="viewport" content="width=device-width" />
<meta property="fb:admins" content="514455047" />
<meta property="fb:app_id" content="111255698909459">
{% if page.description %}
<meta name="description" content="{{ page.description }}"/>
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}
{% if page.image %}
<link rel="image_src" href="{{ page.image }}" />
<meta name="medium" content="image" />
<meta property="og:image" content="{{ page.image }}" />
{% endif %}
<title>{% if page.title %}{{page.title}} &ndash; {% endif %}{{site.title}}</title>
<meta property="og:site_name" content="{{ site.title }}" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
{% endif %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<meta property="og:url" content="{{ canonical }}" />
<link rel="alternate" href="{{ site.subscribe_rss }}" title="{{site.title}}" type="application/atom+xml"/>
<link rel="openid.server" href="http://openid.claimid.com/server" />
<link rel="openid.delegate" href="http://openid.claimid.com/guillermo-esteves" />
<link rel="me" type="text/html" href="http://www.google.com/profiles/gfesteves"/>
<!--[if lt IE 9]>
<script src="{{ root_url }}/javascripts/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="http://use.typekit.com/gdt4vhk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link media="all" href="{{ root_url }}/stylesheets/screen.css" type="text/css" rel="stylesheet" />
<link media="print" href="{{ root_url }}/stylesheets/print.css" type="text/css" rel="stylesheet" />
</head>