---
layout: default
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">

    {% include article.html %}
    
  </article>
{% endfor %}



<nav role="pagination" class="pagination">
  <ul>
    {% if paginator.next_page %}
      <li class="previous"><a rel="prev" href="{{paginator.next_page}}">&lsaquo; Older</a></li>
    {% endif %}

    {% if paginator.previous_page %}
    <li class="next"><a rel="next" href="{{paginator.previous_page}}">Newer &rsaquo;</a></li>
    {% endif %}
  </ul>
</nav>

